html{
    font-size: 62,5%;
    box-sizing: border-box;
}
body,#root{
    font-size: 1.6rem;
    height:100vh;
    margin:0;
}
.grid-container{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height:100%;
}
.header{
    grid-area:header;
    background-image:linear-gradient(45deg, #203040, #607b94);
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-image:linear-gradient(45deg, #203040, #607b94);
}
